@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

body {
  background: $color-white;
}

h4,
p {
  line-height: 1.8em;
}

p {
  font-size: 18px;
  margin: 0;
}

.hero-container {
  padding: 80px 100px;
  box-sizing: border-box;
  color: $color-white;
  background: url("/images/feature_page/hero-background-overlay-features-page-v2.jpg") center center no-repeat;
  background-size: cover;
}

.hero-title {
  margin: 0;
  margin-bottom: 20px;
}

.hero-message {
  font-weight: normal;
}

.intro-container {
  padding: 50px 130px 0;
}

.solution-image-container {
  padding: 130px 0;
}

.solution-image {
  max-height: 400px;
  box-shadow: 0 10px 20px $color-transparent-alt;
  border-radius: $border-radius-large;
}

.gitlab-content-container {

  .solution-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      margin: 0;
      margin-bottom: 10px;
    }

    .flex-container {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      border-radius: $border-radius-large;
      color: $color-gray-darken;

      p {
        font-style: italic;
      }

      img {
        max-height: 20px;
        max-width: 136px;
        margin-right: 6px;
      }
    }

    .axway {
      transform: translateY(-5px);
    }

    a {
      margin-top: 20px;
      margin-left: 0;
      width: auto;

      i {
        font-size: 12px;
        margin-left: 4px;
      }
    }

  }

  @media all and (max-width: $screen-lg-min) {
    padding-top: 80px;
  }

  @media all and (max-width: $screen-sm-min) {
    padding-top: 40px;
  }

}

.solution-container {
  background: $color-white;
}

.learn-more {
  padding: 10px;
  padding-left: 0;
  margin-right: auto;
}

.learn-more-arrow {
  height: 14px;
  width: 18px;
  margin-left: 10px;
  opacity: 0;
  transform: translateX(-10px);
  transition: .4s cubic-bezier(0, 0, 0, 1);
}

.learn-more:hover {
  text-decoration: none;

  .learn-more-arrow {
    transform: translateX(0);
    opacity: 1;
  }

}
